<!--
 * @Author: your name
 * @Date: 2020-05-30 16:07:20
 * @LastEditTime: 2020-05-30 17:46:36
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \test\views\index.html
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
          background-color: cadetblue;
        }
        h1{
            text-align: center;
        }        
    </style>
</head>
<body>
  <h1>{{name}}</h1>
  <a href="/">返回首页</a>

</body>
</html>